html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 1);
}

.player {
    position: relative;
    width: 100%;
    height: 100%;
}

.player__fireplace {
    display: block;
}

.player__panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.player__btn {
    border: none;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    transition: background-color .5s, visibility .7s, opacity .7s;
}

.player__btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.player__btn:active {
    background-color: rgba(255, 255, 255, 0.15);
}

.player__btn:focus {
    outline: none;
}
